@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=Bebas+Neue&display=swap");

h1 {
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

p {
    justify-content: center;
    text-align: center;
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
}

<!--NAVBAR DESIGN-->.navbar {
    overflow: hidden;
    background-color: skyblue;
}

.navbar a {
    float: center;
    color: black;
    text-align: center;
    padding: 18px;
    text-decoration: none;
    font-size: 20px;
    font-family: "Bebas Neue", sans-serif;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar a.active {
    background-color: skyblue;
    color: white;
}

.navbar a > * {
    padding: 10px;
}